@charset "utf-8";

/* h1の装飾 */
h1 {
    text-align: center;
    padding: 5%;
    font-size: 1.5em;
}

.img__container {
    justify-content: center;
}

ul{
    display: flex;
}

li {
    margin: 0 1vw;
    object-fit:cover;
}

img {
    width: 30vw;
    height: 30vh;
    object-fit:cover;
}


p {
    padding: 5%;
    text-align: center;
}


input {
    font-size: 1em;
}
